@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-today-bg-color: #eeeeee;
  --fc-event-bg-color: #2563eb;

  --fc-button-bg-color: #6b7280;
  --fc-button-hover-bg-color: #4b5563;
  --fc-button-active-bg-color: #374151;

  --fc-button-border-color: #6b7280;
  --fc-button-hover-border-color: #4b5563;
  --fc-button-active-border-color: #374151;
}

@media screen and (max-width: 1036px) {
  .fc-header-toolbar {
    padding: 0 6px;
  }
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
}
